@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

p {
    line-height:  1.5;
    color: #7C8BA1;
    margin-top: 16px;
}

.section__description {
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
}

h2{
    font-size: 48px;
    color: #1A202C;
}

.section__title {
    font-weight: 900;
    padding: 16px 0;
}

h4 {
    color: #6415FF;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    transition: all 300ms ease;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

button {
    cursor: pointer;
}

.section__btn {
    border-radius: 32px;
    border: none;
    background-color: #6415FF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 300ms ease;
}

.section__btn:hover {
    background-color: #4004b7;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 12px 0px;
}

.purple {
    color: #6415FF;
}

/* Landing */

#landing {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    width: 40px;
}

#nav__logo--title {
    font-size: 24px;
    color: #243E63;
    padding-left: 12px;
    font-weight: 900;
}

.nav_links {
    display: flex;
    justify-content: space-between;
}

.nav__link, .nav__link--primary {
    font-size: 14px;
    font-weight: 600;
    color: #243E63;
    padding: 20px;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration-color: #6415FF;
}

.nav__link--primary {
    color: white;
    background-color: #6415FF;
    border-radius: 20px;
    padding: 12px 20px;
}

.nav__link--primary:hover {
    text-decoration: none;
    background-color: #4004b7;
}

.btn__menu {
  background-color: transparent;
  font-size: 24px;
  border: none;
  display: none;
}

.btn__menu:hover {
    color:#6415FF;
}

.menu__backdrop {
  position: fixed;
  background-color: white;
  color: #243E63;
  border: 1px solid #243e632a;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  padding: 32px;
  margin: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 350ms ease-in-out;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link, .menu__link--primary {
  color: #243E63;
  font-size: 18px;
  font-weight: 600;
}

.menu__link--primary {
    background-color:#6415FF;
    color: white;
    border-radius: 24px;
    padding: 12px 24px;
}

.menu__link:hover, .menu__link--primary:hover {
    text-decoration: none;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: #243E63;
}

.header {
    display: flex;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: left;;
    width: 40%;
}

#header__description {
    font-size: 18px;
    color:#243E63;
    margin: 32px 0; 
}

.header__wrapper {
    position: relative;
    margin-bottom: 20px;
}

input {
    border: lightgrey solid 2px;
    border-radius: 32px;
    padding: 20px 192px 20px 32px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 300ms ease;
}

input::placeholder {
    color: #A0AEC0;
}

input:hover {
    border: grey solid 2px;
}

.header__btn {
    height: calc(100% - 16px); 
    padding: 0 32px;
    margin: 8px;
    position: absolute;
    right: 0;
    z-index: 2;
}

.header__customers {
    font-size: 14px;
    color: #A0AEC0;
    margin: 64px 0 20px 0;
}

.header__img--1 {
    width: 88%;
    opacity: .5;
}

.header__img--2 {
    width: 60%;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
}

.feature {
    display: flex;
    width: calc(100%/3);
    padding: 32px 24px;
}

.feature__img {
    border: lightgrey solid 2px;
    color:#6415FF;
    font-size: 18px;
    padding: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
   
}

.feature__title {
    font-size: 18px;
    color:#243E63;
}

.feature__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 8px 0 0 16px;
    
}

.feature__para {
    line-height: 2;
}

/* Quality Work */

.quality {
    display: flex;
}

.quality__description {
    width: 50%;
    margin-right: 64px;
}

.quality__btn {
    padding: 12px 24px;
    margin: 24px 0;
}

.quality__img--wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 40px;
    position: relative;
    width: 50%;
}

.quality__img {
    border: lightgrey solid 1px;
    border-radius: 2px;
    width: 100%;
    z-index: 1;
}

.quality__grid {
    fill:#6415FF;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    --tw-text--opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/* Steps */

.steps {
    display: flex;
}

.steps__img--wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.steps__img {
    width: 100%;
    z-index: 1;
}

.steps__grid {
    fill: rgb(230, 198, 254);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -72px;
    z-index: 0;
}

.steps__description {
    margin: 32px 0 32px 64px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__num {
    font-size: 36px;
    color: #CBD5E0;
    font-weight: 600; 
}

.step__description {
    margin-left: 24px;
}

.step__title {
    font-size: 20px;
    color: #243E63;
    font-weight: bold;
}
.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    max-width: 320px;
    line-height: 2;
}

/* Small Phones, Large Smartphones */

@media (max-width: 550px) {
    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }
}
